<div class="drac-box">
    <div class="drac-box">
        <ul class="drac-tabs drac-tabs-orange">
            <li class="drac-tab drac-tab-active">
                <a class="drac-tab-link drac-text" href="/">Home</a>
            </li>
            <li class="drac-tab">
                <a class="drac-tab-link drac-text" href="/about">About</a>
            </li>
            <li class="drac-tab">
                <a class="drac-tab-link drac-text" href="/blog">Blog</a>
            </li>
        </ul>
    </div>