.custom-about-cardItem {
    float: left;
    margin: 2%;
  }
  
  .custom-about-cardItem2 {
    float: right;
    margin: 2%;
  }
  
  .custom-about-text1 {
    margin: 8px;
  }
  
  .custom-about-text2 {
    margin: 5px;
    padding: 1%;
  }
  
  .custom-link-white a {
    text-decoration: none;
    color: #F8F8F2
  }

  .custom-link-cyan a {
    text-decoration: none;
    color: #80FFEA
  }
  
  .custom-link-black a {
    text-decoration: none;
    color: #000000
  }
  
  .drac-bg-orange-red{
    background:linear-gradient(var(--gradientDegree),var(--orange) 0,var(--red) 100%)
  }

  .drac-text-orange-red{
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    background-clip:text;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-image:linear-gradient(var(--gradientDegree),var(--orange) 0,var(--red) 100%);
    background-size:100%;
    -webkit-box-decoration-break:clone
  }

  
  .custom-mobile-skipfloat {
    float: none;
    text-align: center;
  }

  .custom-home-padding {
    margin-left: 20%;
  }
  
  @media (min-width: 50em) {
    .custom-mobile-skipfloat {
      float: left;
      text-align: center;
    }
  }