<div>
    <!-- title -->
    <img class="center" height="100px" src="assets/images/static/logo.png" alt="Logo">
    <div>
        <h1 class="drac-heading drac-heading-2xl drac-text-orange drac-text-center">
            Jeff Malavasi
        </h1>
        <h2 class="drac-heading drac-heading-xl drac-text-cyan drac-text-center">
            ursamajor.technology
        </h2>
    </div>
    <div class="drac-box"></div>
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
          <td>    
            <!-- twitter -->
            <div class="drac-box drac-p-sm">
                <a href="https://twitter.com/jeffmalavasi">
                    <img height="50px" src="assets/images/static/contact/twitter.png" alt="Twitter">
                </a>
            </div>
          </td>
          <td>
            <!-- LinkedIn -->
            <div class="drac-box drac-p-sm">
                <a href="https://linkedin.com/in/jeff-malavasi">
                    <img height="50px" src="assets/images/static/contact/linkedIn.png" alt="LinkedIn">
                </a>
            </div>
          </td>
          <td>
            <!-- Mail -->
            <div class="drac-box drac-p-sm">
                <a href="mailto:jeff@malavasi.org">
                    <img height="50px" src="assets/images/static/contact/mail.png" alt="email">
                </a>
            </div>
          </td>
        </tr>
      </table>
    <!-- blog -->
    <div style="margin-left: 25%; margin-right: 25%;" class="drac-p-sm custom-link-white drac-box drac-card drac-bg-orange-red">
        <a href="https://ursamajor.technology" >
        <div>
            <h2 class="drac-heading drac-heading-xl drac-text-black drac-text-center">
                Blog
            </h2>
        </div>
        </a>
    </div>
    <div class="drac-box drac-p-sm"></div>
    <!-- GitHub -->
    <div style="margin-left: 25%; margin-right: 25%;" class="drac-p-sm custom-link-white drac-box drac-card drac-bg-orange-red">
        <a href="https://github.com/ursaMaj0r" >
        <div>
            <h2 class="drac-heading drac-heading-xl drac-text-black drac-text-center">
                GitHub
            </h2>
        </div>
        </a>
    </div>
    <div class="drac-box drac-p-sm"></div>
    <!-- YouTube -->
    <div style="margin-left: 25%; margin-right: 25%;" class="drac-p-sm custom-link-white drac-box drac-card drac-bg-orange-red">
        <a href="https://www.youtube.com/channel/UCoU1uSpJNfsX0A-YrY_6wtQ" >
        <div>
            <h2 class="drac-heading drac-heading-xl drac-text-black drac-text-center">
                YouTube
            </h2>
        </div>
        </a>
    </div>
    <div class="drac-box drac-p-sm"></div>
    <!-- Certifications -->
    <div style="margin-left: 25%; margin-right: 25%;" class="drac-p-sm custom-link-white drac-box drac-card drac-bg-orange-red">
        <a href="https://www.credly.com/users/jeff-malavasi" >
        <div>
            <h2 class="drac-heading drac-heading-xl drac-text-black drac-text-center">
                Certifications
            </h2>
        </div>
        </a>
    </div>
    <div class="drac-box drac-p-sm"></div>
    <div style="margin-left: 25%; margin-right: 25%;" class="drac-box">
        <div class="drac-box drac-mb-sm">
          <hr class="drac-divider drac-border-white" />
    </div>
    <!-- Support -->
    <h2 class="drac-heading drac-text-center drac-heading-lg drac-text-white">
        Ways to Support
    </h2>   
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
          <td>    
            <!-- Coffee -->
            <div class="drac-box drac-p-sm">
                <a href="https://www.buymeacoffee.com/ursamajor">
                    <img height="30px" src="assets/images/static/contact/coffee.png" alt="Coffee">
                </a>
            </div>
          </td>
          <td>
            <!-- Crypto -->
            <div class="drac-box drac-p-sm">
                <a href="https://strike.me/ursamajor">
                    <img height="35px" src="assets/images/static/contact/strike.png" alt="LinkedIn">
                </a>
            </div>
          </td>
        </tr>
      </table> 
</div>