<div class="drac-box drac-card drac-bg-orange-red drac-p-md drac-m-sm">
    <div class=" custom-about-text1 drac-text-center custom-text-about drac-text drac-line-height drac-text-black">
            <p>My name is Jeff Malavasi and this is my personal blog about all things Microsoft, Cybersecurity and
                Automation.</p>
            <p>Currently, I am working at HubSpot as a Systems Engineer while pursuing a Masters in Computing
                Security
                from
                RIT. Before HubSpot my background includes various roles in health care, emergency services, and
                higher
                education. In 2018, I earned a B.S. in Neuroscience from Emmanuel College.</p>
            <p>
                The opinions expressed herein are my own personal opinions and do not represent my employer’s view
                in
                anyway.</p>
        </div>
        <div class="custom-about-text2 drac-text-center drac-text drac-line-height drac-text-black">
            <p><b>Linked In: </b> <span class="custom-link-white drac-text drac-line-height "><a
                        href="https://www.linkedin.com/in/jeff-malavasi/">Jeff Malavasi</a></span></p>
            <p><b>GitHub: </b><span class="custom-link-white drac-text drac-line-height "><a
                        href="https://github.com/ursaMaj0r/">ursaMaj0r</a></span></p>
            <p><b>Twitter: </b> <span class="custom-link-white drac-text drac-line-height "><a
                        href="https://twitter.com/JeffMalavasi">@JeffMalavasi</a></span></p>

            <p><b>Boston, MA</b></p>
        </div>
    </div>
</div>

