---
layout: default
---
<div>
    <h2 class="drac-heading drac-heading-2xl drac-text-center drac-text-orange">
      {{page.title}}
    </h2>
    <ul class="drac-list">
      {% for post in page.posts %}
      <li class="custom-link-white drac-text drac-text-lg drac-text-white">
          {%- assign date_format = site.date_format | default: "%-d %b" -%}
          <a href="{{ post.url | relative_url }}" > 
            <p>
              {{ post.title | escape }} - {{ post.date | date: date_format }}
            </p>
          </a>
          <div class="drac-text drac-text-md drac-text-white custom-link-cyan">
            {%- include infra/post-categories.html -%}
          </div>
          <div class="drac-text drac-text-xs drac-line-height drac-text-white">
              {{ post.excerpt }}
          </div>
      </li>
      {% endfor %}
  </ul>
</div>