---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div style="text-align:center;">
    {% if page.image %}
    <span><a href="{{ page.image }}" title="Opening Image"><img src="{{ page.image }}" width="20%" alt="{{ page.title }}"></a></span> 
    {% endif %}
  </div>
  <div class=" custom-link-cyan drac-text drac-text-center">
    {%- include infra/page-categories.html -%}
  </div>
  <div>
    <p class="drac-text drac-text-center drac-text-cyan">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </p>
  </div>
  <div class="drac-text drac-text-white drac-text-center center drac-text-sm custom-link-cyan" style="width:80%" itemprop="articleBody">
      {{ page.excerpt }}
  </div>
  <div class="drac-text drac-text-white custom-link-cyan center drac-text-sm" style="width:80%" itemprop="articleBody">
      {{ content | remove_first:page.excerpt }}
  </div>
  <a href="{{ page.url | relative_url }}" hidden></a>
</article>