<div>
    <div style="float: left">
        <button class="drac-btn drac-bg-orange-red drac-m-xs drac-m-xxs custom-link-black"><a href="/">Home</a></button>
        <button class="drac-btn drac-bg-orange-red drac-m-xs drac-m-xxs custom-link-black"><a href="/about">About</a></button>
    </div>
    <div>
        <img src="/assets/images/static/logo.png" width="50vw" style="float: right;" /></div>
    <div>
        <h2 class="drac-heading drac-text-orange" style="font-size: calc(10px + 1vw); text-align: right;">
            Ursa Major Technology
        </h2>
        <p class="drac-text drac-text-xs drac-text-right drac-text-orange-red">Consulting, Blogging, and Beyond!</p>
    </div>
</div>
